.sr-login{
    background-color: var(--background);
    display: flex;
    align-items: flex-start;
    padding-top: 3rem;
    justify-content: center;
    height: 100vh;

    .sr-login-form{
        display: flex;
        flex-direction: column;
        border: 1px solid rgba(255, 255, 255, 0.2);
        padding: 3rem;
        border-radius: 10px;
        color: rgba(255, 255, 255, 1);

        .sr-form-group{
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;
        }
    }
}

.login-page-header{
    background-color: var(--background);
    color: rgba(255, 255, 255, 1)
;    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .logo-header {
        width: clamp(150px, 26.6vw, 800px);
        height: auto;
    }

    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-inline: 3rem;
    }
}

