.team{
    margin: 2rem 0 0 0;

    .team-description{
        margin: 2rem 0 3rem 0;
        padding: 2rem 2rem;
        background: rgba(95, 95, 95, 0.1);
        border-radius: 10px;
        margin: 0 auto;
        width: 70%;
    }
}

.text-team{
    margin: 0 4rem 3rem 4rem;
    font-size: 1.2rem;
    text-align: justify;
}

.podcast-members{
    display: flex;
    flex-direction: column;
    margin: 0 3rem;
    padding-bottom: 2rem;
    
    &::after{
        content:"";
        display: block;
        width: 70%;
        height: 1px;
        background: rgba(0, 0, 0, 0.1);
        margin-top: 3rem;
        margin-left: auto; 
        margin-right: auto;
    }

    .members{
        display: flex;
        gap: 4rem;
        max-height: 30%;
    }

    .team-member{
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;
    
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: var(--transition);
        }

        &:first-child .team-member_description {
            h3, p {
                text-align: left;
            }
        }

        &:last-child .team-member_description {
            h3, p {
                text-align: right;
            }
        }

        .team-member_description{
            position: absolute;
            max-height: 90%;
            overflow: scroll;
            bottom: 1rem;
            left: 1rem; 
            right: 1rem;
            background-color: rgba(0, 0, 0, 0.7);
            padding-inline: 0.5rem;
            color: rgba(255, 255, 255, 1);
            opacity: 0;
            transform: translateY(80px);
            pointer-events: none;
            transition: var(--transition);  

            h3{
                font-size: 1.5rem;
            }

            h3, p{
                text-align: center;
            }
        }

        &:hover {
            .team-member_description {
                opacity: 1;
                transform: translateY(0);
                pointer-events: auto;
            }
            img{
                filter: grayscale(80%);
            }

        }
    }
}

.commercial-team{
    margin: 1rem 3rem;

    .commercial-member{
        position: relative;
        width: 20%;
        height: auto;
        border-radius: 100%;
        overflow: hidden;
        aspect-ratio: 1;

        &:hover{
            .commercial-member_role{
                opacity: 1;
                transform: translateY(0);
                pointer-events: auto;
            }
        }

        img{
            width: 100%;
            object-fit: cover;
        }

        .commercial-member_role{
            position: absolute;
            inset: 0;
            color: rgba(255, 255, 255, 1);
            background: rgba(0, 0, 0, 0.5);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            opacity: 0;
            transform: translateY(80px);
            pointer-events: none;
            transition: var(--transition);  
        }


       
    }
}


@media screen and (max-width:990px) {
    .podcast-members 
    .members 
    .team-member_description{
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width:1110px){
    .podcast-members{
        .members{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media screen and (max-width:950px){
    .podcast-members{
        margin: 1rem 1rem;
        .members{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
        }
    }
}

@media screen and (max-width:450px){
    .podcast-members{
        .members{
            display: grid;
            grid-template-columns: 1fr;
        }
    }
}

@media screen and (max-width:675px){
    .commercial-team
    .commercial-member
    .commercial-member_role{
        opacity: 1;
        transform: translateY(0);

        h3, p{
            font-size: 0.7rem;
        }
    }
}

@media screen and (max-width:550px){
    .commercial-team .flex{
        flex-direction: column;
        gap: 1rem;
        
        .commercial-member{
            width: 50%;
        }
    
    }    
}