.video-background{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background-color: rgba(0,0,0,0.8);
    }

    video{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    
}