.header {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    color: #fff;

    .header-content {
        display: flex;
        flex-direction: column;
        height: 100%;
        position: relative;
        z-index: 2;
    }

    .logo-header {
        width: clamp(150px, 26.6vw, 800px);
        height: auto;
    }

    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-inline: 3rem;
    }

    .swissjob-logo{
        position: absolute;
        width: 200px;
        height: 90px;
        background-image: url('/images/suissjobs.png');
        background-image: image-set(
            url('/images/suissjobs.webp') type('image/webp'),
            url('/images/suissjobs.png') type('image/png')
        );
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 100;
        bottom: 0;
        right: 20px;

        &:hover{
            color: rgba(255, 255, 255, 1);
        }
    }
}

.p-header{
    width: 70%;
    margin: 2rem auto;
    line-height: 1.5;
    text-align: justify;
}

.header-hero {
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    h1{
        font-size: calc(4.4vw);
        text-align: center;
        margin: 0 3rem;
        font-family: 'Poppins', sans-serif;
        line-height: 1.5;

        span{
            display: block;
        }
    }

    .header-call_to_action{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: calc(1.2vw);

        p{
            padding-bottom: 1rem;
        }
    }

    button{
        display: flex;
        align-items: center;
        padding: clamp(0.5rem, 1.5vw, 1.5rem);

        svg{
            width: clamp(0.8rem, 1.2vw, 1.4rem);
            margin-left: 0.5rem;
        }
    }

    .lucide-chevron-down{
        box-sizing: content-box;
        padding: 0.5rem;
        border-radius: 50%;
        transition: var(--transition);
        cursor: pointer;
        animation: pulse 3s ease-in-out infinite;

        &:hover{
            background-color: rgba(255, 255, 255, 0.5);
            color: rgba(0, 0, 0, 0.4);
            animation: none;
            scale: 1.2;
        }
    }
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(2);
    }

}


/* Réduction des marges externes */
@media screen and (max-width: 994px){
    .header {
        .nav {
            margin-inline: 1rem;
        }
    }
}

/* Mobile - menu hamburger */
@media screen and (max-width: 724px){
    .header-hero {
        h1 {
            font-size: calc(7vw);
            margin: 0 1.5rem;
        }

        .header-call_to_action {
            font-size: calc(2.4vw);
        }
    }
}



