.podcasteurs {
    width: 100%;
    max-width: 100vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    overflow: hidden;

    .casting-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;

        .subtitle{
            margin: 0 auto;
            text-align:center;
            font-size: 2rem;
        }

        p{
            text-align: center;
            font-weight: 300;
            margin: 0 3rem;
        }
    }

    .casting-video video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}



.casting-video{
    position: relative;
    transition: var(--transition);
    cursor: pointer;

     &:hover{
        filter: grayscale(80%);
     }

    &::after{
        content: "";
        position: absolute;
        inset: 0; 
        z-index: 10;

        &:hover{
            background-color: rgba(255, 255, 255, 0.3);
        }
    }

    .casting_label {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(255, 255, 255, 0.5);
        padding: 0.7rem 1.5rem;
        text-align: center;
        z-index: 15;
        cursor: pointer;
    }
}



@media screen and (max-width: 700px){
    .podcasteurs {
        grid-template-columns: repeat(3, 1fr);
        
        .casting-text {
            grid-column: 1 / -1;  
            margin-bottom: 1rem;
            margin-top: 1rem;
        }

        .casting_label {
            font-size: 0.725rem;
            padding: 0.5rem 1rem;
    }
    }  
}

@media screen and (min-width: 2000px){
    .podcasteurs{
        .casting-text{
            gap: 6rem;

            h3.subtitle{
                font-size: 4rem;
            }
            p{
                font-size: 2rem;
            }
        }
    }
}


@media screen and (min-width: 3000px){
    .podcasteurs{
        .casting-text{
            gap: 8rem;

            h3.subtitle{
                font-size: 6rem;
            }
            p{
                font-size: 2.5rem;
            }
        }
    }
}