.map-wrapper {
    background: linear-gradient(
        270deg,
        #ffffff 0%,
        #000000 20%,
        #000000 80%,
        #ffffff 100%
    );
    color: #ffffff;
    padding: 2rem 0 3rem 0;

    .subtitle {
        margin-bottom: 3rem;
        text-align: center;
    }

    .access-title {
        font-size: 1.2rem;
        font-weight: 500;
    }
}



.wrap {
    margin: 0 2rem 0 2rem;
    display: grid;
    grid-template-columns: 4fr 2fr 3fr;
    column-gap: 2.5rem;
    align-items: stretch;
    

    .map-container {
        width: 100%;
        max-width: 500px;
        height: 100%;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
        position: relative;
        margin: 0 auto;

        iframe {
            width: 100%;
            height: 100%;
            border: none;
        }
    }

    .grid-center {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        row-gap: 0.75rem;
        padding: 0.5rem 0;

        address {
            margin: 0;
            padding: 0;
            font-style: normal;
        }

        a {
            color: inherit;
            text-decoration: none;
            font-size: 0.95rem;

            &:hover {
                text-decoration: underline;
            }
        }

        img {
            width: 205px;
            height: 157px;
            object-fit: cover;
            border-radius: 12px;
            margin-top: 1rem;
        }
    }

    .contact {
        display: flex;
        flex-direction: column;

        .access-title {
            margin-inline: 1rem;
        }

        .form-contact {
            display: flex;
            flex-direction: column;
            flex: 1; 
            margin-top: 1rem;
            margin-inline: 1rem;
            gap: 0.75rem;

            .input-field {
                position: relative;
                display: flex;
                align-items: center;
                width: 100%;

                .icon {
                    position: absolute;
                    left: 1rem;
                    width: 1.25rem;
                    height: 1.25rem;
                    top: 0.8rem;
                    color: #e7e7e7;
                    pointer-events: none;
                }
            }

            button {
                padding: 0.5rem 0;
                margin-top: 0.5rem;
                transition: var(--transition);
                border: 1px solid #ffffff;
                cursor: pointer;
                border-radius: 5px;
                background-color: #fff; ;
                color: var(--background);
                padding: 0.8rem 0;

                &:hover {
                    background-color: var(--color-primary);
                    color: #ffffff;
                }
            }
        }

    }
}


.form-contact .input-field input,
.form-contact .input-field textarea {
  width: 100%;
  margin-bottom: 0.25rem;
  padding: 0.75rem 0.875rem 0.75rem 3rem;
  border: 1px solid var(--color-primary);
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: #ffffff;
  background: var(--color-primary);
  outline: none;
}

.form-contact .input-field input:focus,
.form-contact .input-field textarea:focus {
  border: 1px solid #ffffff;
}

.form-contact .icon-textarea {
  top: 1rem;
}

.form-contact .input-field textarea {
  min-height: 120px;
  resize: vertical;
}


@media (max-width: 1206px){
    .wrap{
        grid-template-columns: 1fr;
        grid-template-areas:
            "a""b""c";
        
            .grid-center{
                align-items: center;
                text-align: center !important;
                margin-bottom: 1rem;

                img{
                    display: none;
                }
            }

            .map-container{
                aspect-ratio: 4/3;
            }

            .access-title{
                text-align: center;
            }
    }
}