.studio {
  padding: 3rem 1.5rem 3rem 2rem;
  background-color: #000000;
  color: var(--color-whitePink);
}

.subtitle {
  text-align: center;
  margin-bottom: 3rem;
}


.studio_text{
  display:grid;
  grid-template-columns: 2fr 4fr;
  align-items: center;
  justify-content: center;
  justify-items: center;

  img{
    width: 100%;
    border-radius: 15px;
    height: auto;
    margin-left: 2rem;
  }

  p{
    max-width: 80ch;
    text-align: justify;
    line-height: 2;
  }

}


.img__anchor img{
  mix-blend-mode:lighten;
}


@media (max-width: 1400px){
  .studio_text{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    .studio_img{
      display: grid;
      align-items: center;
      justify-content: center;
      max-height: 600px;
      min-height: 400px;
      overflow: hidden;
      border-radius: 15px;

       img{
        margin: 0 auto;
        width: 80%;
        object-fit: cover;
        border-radius: 15px;
      }
    }
  }
}

@media (max-width: 650px) {
  .studio_img-main--left,
  .studio_img-secondary--right {
    float: none;
    width: 100%;
    margin: 0 0 1.5rem 0;
  }

  .studio_text {
    font-size: 0.95rem;
    text-align: justify;

    .studio_img {
      width: 100%;
      display: flex !important;
      justify-content: center !important;
      margin: 0;

      picture {
        display: block;
        width: 80%;
      }

      img {
        margin: 0 auto !important;
        display: block;
        width: 100%;
      }
    }
  }
}

@media (max-width: 467px) {
  .studio .subtitle {
    font-size: 2rem;
  }
}

@media (max-width: 337px) {
  .studio .subtitle {
    font-size: 1.7rem;
  }
}

/* Très grands écrans */
@media (min-width: 2000px) {
  .studio {
    padding: 4rem 5vw;
  }

  .studio_text {
    gap: 3rem;
  }

  .studio_text img {
    width: 100%;
    height: auto;
  }

  .studio_text p {
    font-size: calc(0.6vw + 0.5rem);
    line-height: 2.2;
  }

  .subtitle {
    font-size: calc(1.5vw + 1rem);
  }
}
