
.footer-content{
  padding: 2rem 3rem;
  font-size: 0.875rem;

  .footer-inner{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .footer-top{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo-footer {
      max-width: 180px;
      height: auto;
    }
  }

  .footer-separator{
    height: 1px;
    width: 100%;
    background: rgba(255, 255, 255, 0.12);
  }

  .footer-bottom{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 1rem 2rem;

    p {
      font-size: 0.75rem;
      color: rgba(255, 255, 255, 0.4);
      margin: 0;
    }

    .footer-nav{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      font-size: 0.8rem;

      .footer-nav_link {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.7);
        transition: var(--transition);

        &:hover{
            color: var(--color-primary);
        }

        & + .footer-nav_link::before {
          content: "-";
          margin: 0 0.75rem;
          color: rgba(255, 255, 255, 0.5);
        }
      }
    }

    .footer-social{
        display: flex;
        align-items: center;
        gap: 1rem;

        a,
        .back-to-top{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border: none;
            background: none;
            color: #ffffff;
            cursor: pointer;
            padding: 0;
            transition: var(--transition);
            border-radius: 50%;
            padding: 0.3rem;

            svg{
                width: 20px;
                height: 20px;
            }
        }
        .back-to-top:hover{
            background-color: rgba(255, 255, 255, 1);
            color: var(--background);
        }
        .icon-insta:hover{
            color: #c13584;
        }
        .icon-fb:hover{
            color: #3b5998;
        }
    }
  }

  @media (max-width: 768px){
    &{
      padding: 1.5rem;
    }

    .footer-top{
      flex-direction: column;
      gap: 1rem;
    }

    .footer-bottom{
      flex-direction: column;
      align-items: center;

      .footer-nav{
        justify-content: center;
        order: 2;

        a{
            margin-top: 10px;
        }
      }

      .footer-social{
        order: 3;
      }
    }
  }
}
